body {
    background-color: #f2f4f5
}

.centerHorVer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#genInvoicefixedLeftBtn {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 45%;
    background-color: #000;
    border-radius: 0 8px 8px 0;
    left: -36px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0;
    padding:0 2px;
    opacity:0.66
    
}


    #genInvoicefixedLeftBtn:hover {
        left:0;
    }


    /* information cloud */
    .infoCloudRight {
        display: inline;
        position: relative;
    }
/* information cloud */
    .infoCloudRight:hover:after {
        background: rgba(0,0,0,0.7);
        border-radius: 10px;
        bottom: 26px;
        color: #fff;
        content: attr(title);
        left: 40%;
        padding: 3px 7px;
        position: absolute;
        z-index: 98;
        width: 120px;
        content: attr(title);
        font-weight: 400;
    }

/* information cloud */
.infoCloudLeft {
    display: inline;
    position: relative;
}
    /* information cloud */
    .infoCloudLeft:hover:after {
        background: rgba(0,0,0,0.7);
        border-radius: 10px;
        bottom: 26px;
        color: #fff;
        content: attr(title);
        right: 100%;
        padding: 3px 7px;
        position: absolute;
        z-index: 98;
        width: 120px;
        content: attr(title);
        font-weight:400;
    }


.mainContainer {
    border-radius: 8px;
    width: auto;
    padding: 9px;
    box-shadow: 0 0 1em lightgray;
    margin-bottom: 30px;
    background-color: #fff
}


.inputInline {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.labelInline {
    display: inline-block;
    font-weight:600;
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}


.underNavBar {
    background-color: #008080;
    /*background-image: linear-gradient(to right, #fff, #f5f6f7);*/
    border-radius: 8px;
    border: solid #e1e2e6 1px;
    margin: 25px 0;
    /*box-shadow: 0 0 1em #e9e9e9*/
}

.coustomLabel {
    text-align: right;
    display: inline-block;
    width: 140px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f0f2f5;
    display: inline-block;
    padding: 0 18px;
    cursor: pointer;
    font-size: 35px;
}

#changePassWindow {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.blur {
    filter:blur(9px);
}

.handPointer:hover{
    cursor:pointer;
}

#invoiceLogoDiv {
    height: 220px;
    width: 100%;
    border: dotted #c4c8cc 3px;
    border-radius: 12px;
    opacity: 0.7;
}

    #invoiceLogoDiv img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        position:absolute
    }


#userAccountLogoInput {
    margin-top: 15px;
    height: 220px;
    width: 65%;
  
    /*
    display: flex;
    justify-content: center;
    align-items: center;
     */
}

    #userAccountLogoInput img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      
    }

#userGraphUserDataPage {
    margin: 4px 0;
    height: 260px;
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#userGraphUserDataPage img {
    display: block;
    height: 100%;
    opacity: 0.4;
}

#handShakeGraphCounterPartyPage {
    margin: 4px 0;
    height: 220px;
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #handShakeGraphCounterPartyPage img {
        display: block;
        height: 100%;
        opacity: 0.4;
    }

.customTableOne {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .customTableOne td, .customTableOne th {
        border: 1px solid #e9ecee;
        padding: 3px;
    }

    .customTableOne tr:nth-child(even) {
        background-color: #f0f2f5;
    }

    .customTableOne tr:hover {
        background-color: #d7dbde;
    }

    .customTableOne th {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #008080;
        color: white;
    }

.serviceProduktInput {
    background-color: transparent;
    border: 0;
}


@media print {
    #addRowButton {
        display: none;
    }

    .footer {
        display: none;
    }
    #selectKontrahent
    {
        display:none;
    }
    #genInvoicefixedLeftBtn{
        display:none;
    }
}


.shadow {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

#welcomeSign {
    font-size: 21px;
    margin-top: 5px;
   
    position:absolute;
    right:130px;
}


#btnLogin {
    background: #02abc2;
    border: thin;
}

.main-content {
    width: 55%;
    border-radius: 20px;
    margin: 7% auto 6% auto;
    display: flex;
    max-width: 850px;
}



.logoArea {
    background-color: #008080;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 90%;
    }

    .logoArea {
        display: none;
    }
    #welcomeSign{}

    .login_form {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (min-width: 641px) and (max-width: 990px) {
    .main-content {
        width: 70%;
    }
}

.formTitle {
    color: #008080;
    display: inline-block;
}

.smallSpacing {
    letter-spacing: -6px;
}

.formTitleEmot {
    font-size:32px;
    font-weight:  normal;
    display: inline-block;
    color: #008080;
}

.linkBrackets {
    font-size: 26px;
    font-weight: 500;
    display: inline-block;
    color: #000;
}

.login_form {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

form {
    padding: 0 2em;
}

.customFormInput {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline: none;
    margin: 0 auto;
    transition: all .5s ease;
}

.customFormInput2 {
   
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline: none;
    margin: 0 auto 1.3em 0.6em;
    transition: all .5s ease;
}



.form__input:focus {
    border-bottom-color: #008080;
    box-shadow: 0 0 5px rgba(0,80,80,.4);
    border-radius: 4px;
}

.btn2 {
    transition: all .5s ease;
    width: 45%;
    height: 36px;
    border-radius: 7px;
    color: #008080;
    font-weight: 600;
    background-color: #ddd;
    border: 0px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.btn2:hover, .btn2:focus 
{
    background-color: #008080;
    color: #fff;
}

#navbarLinkPrzegladajFaktury:hover {
    color: hotpink;
    
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .07);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
