
Code/Fak4ura/obj/project.nuget.cache
Code/Fak4ura/obj/project.nuget.cache
Code/Fak4ura/obj/project.assets.json
Code/Fak4ura/obj/Fak4ura.csproj.nuget.g.props
Code/Fak4ura/obj/Fak4ura.csproj.nuget.dgspec.json
Code/Fak4ura/obj/Debug/net5.0/Fak4ura.RazorAssemblyInfo.cs
Code/Fak4ura/obj/Debug/net5.0/Fak4ura.GeneratedMSBuildEditorConfig.editorconfig
Code/Fak4ura/obj/Debug/net5.0/Fak4ura.assets.cache
Code/Fak4ura/obj/Debug/net5.0/Fak4ura.csproj.AssemblyReference.cache
Code/Fak4ura/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Code/Fak4ura/.vs/Fak4ura/DesignTimeBuild/.dtbcache.v2
Code/Fak4ura/obj/Fak4ura.csproj.nuget.g.props
Code/InvoiceGenerator/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Code/InvoiceGenerator/obj/Debug/net5.0/InvoiceGenerator.assets.cache
Code/InvoiceGenerator/obj/Debug/net5.0/InvoiceGenerator.GeneratedMSBuildEditorConfig.editorconfig
Code/InvoiceGenerator/obj/InvoiceGenerator.csproj.nuget.dgspec.json
Code/InvoiceGenerator/obj/InvoiceGenerator.csproj.nuget.g.props
Code/InvoiceGenerator/obj/project.nuget.cache
Code/InvoiceGenerator/obj/project.assets.json
Code/Fak4ura/.vs/Fak4ura/v16/.suo
Code/Fak4ura/obj/Debug/net5.0/Fak4ura.assets.cache
Code/Fak4ura/obj/Debug/net5.0/Fak4ura.csproj.AssemblyReference.cache
Code/Fak4ura/obj/Debug/net5.0/Fak4ura.GeneratedMSBuildEditorConfig.editorconfig
Code/Fak4ura/obj/Debug/net5.0/Fak4ura.RazorAssemblyInfo.cs
Code/Fak4ura/obj/Fak4ura.csproj.nuget.dgspec.json
Code/Fak4ura/obj/Fak4ura.csproj.nuget.g.props
Code/Fak4ura/obj/project.assets.json
Code/Fak4ura/obj/project.nuget.cache
Code/InvoiceGenerator/obj/Debug/net5.0/InvoiceGenerator.AssemblyInfo.cs
Code/InvoiceGenerator/obj/Debug/net5.0/InvoiceGenerator.assets.cache
Code/InvoiceGenerator/obj/Debug/net5.0/InvoiceGenerator.GeneratedMSBuildEditorConfig.editorconfig
Code/InvoiceGenerator/obj/InvoiceGenerator.csproj.nuget.dgspec.json
Code/InvoiceGenerator/obj/InvoiceGenerator.csproj.nuget.g.props
Code/InvoiceGenerator/obj/project.assets.json
Code/InvoiceGenerator/obj/project.nuget.cache
