@page
@model Fak4ura.Pages.Counterparty.AddCounterPartyModel
@{
}

<form asp-page-handler="AddCounterPartyData">
    <div class="underNavBar">
        <div class="row justify-content-end " style="padding:10px 25px">
            <div class="ml-4">
                <input type="submit" class="btn btn-light" value="Zapisz">
            </div>
        </div>
    </div>

    <div class="mainContainer">
        <div>
            <div class="form-row justify-content-center " style="margin-top: 50px;">

                <!--FIRST COLUMN-->
                <div class=" col-md-4" style="  margin-top:-8px;">
                    <div id="handShakeGraphCounterPartyPage">
                        <img id="" src="~/img/handShakeAdd2.png" alt="userGraph6.png">
                    </div>
                </div>


                <!--EMPTY SPACE-->
                <div class="form-group col-md-1"></div>


                <!--SECOND COLUMN-->
                <div class=" col-md-4">

                    <div class="form-group mb-2 ">
                        <label for="aCounterPartyImie" class="mb-1" style="font-weight:500">Imię</label>
                        <input type="text" asp-for="CounterPartyInfo.Imie"
                               class="form-control bg-light" id="aCounterPartyImie" required>
                    </div>

                    <div class="form-group mb-2 ">
                        <label for="aCounterPartyNazwisko" class="mb-1" style="font-weight:500">Nazwisko</label>
                        <input type="text" asp-for="CounterPartyInfo.Nazwisko"
                               class="form-control bg-light" id="aCounterPartyNazwisko" required>
                    </div>


                    <div class="form-group mb-2 ">
                        <label for="aCounterPartyEmail" class="mb-1" style="font-weight:500">E-mail</label>
                        <input type="email" asp-for="CounterPartyInfo.Email"
                               class="form-control bg-light" id="aCounterPartyEmail" required>
                    </div>



                </div>
            </div>


            <hr style="width:82%" />


            <div class="form-row justify-content-center" style=" margin: 20px 0 ">
                <!--FIRST COLUMN-->
                <div class=" col-md-4">

                    <div class="form-group mb-2 ">

                        <label for="aCounterPartyNazwa/Firma" class="mb-1" style="font-weight:500">Nazwa/Firma</label>
                        <input type="text" asp-for="CounterPartyInfo.NazwaFirmy"
                               class="form-control bg-light" id="aCounterPartyNazwa/Firma" required>
                    </div>


                    <div class="form-group mb-2 ">
                        <label for="aCounterPartyNIP" class="mb-1" style="font-weight:500">NIP</label>
                        <input type="text" asp-for="CounterPartyInfo.Nip"
                               class="form-control bg-light" id="aCounterPartyNIP" required>
                    </div>

                </div>


                <!--EMPTY SPACE-->
                <div class="form-group col-md-1"></div>


                <!--SECOND COLUMN-->
                <div class=" col-md-4">

                    <div class="form-group  mb-2">
                        <label for="aCounterPartyTelefon" class="mb-1" style="font-weight:500">Telefon</label>
                        <input type="tel" class="form-control bg-light" id="aCounterPartyTelefon" required
                               asp-for="CounterPartyInfo.Telefon">
                    </div>

                    <div class="form-group mb-2 ">
                        <label for="aCounterPartyAdres" class="mb-1" style="font-weight:500">Adres</label>
                        <input type="text" asp-for="CounterPartyInfo.Ulica"
                               class="form-control bg-light" id="aCounterPartyAdres" required>
                    </div>

                    <div class="form-group mb-0  ">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="aCounterPartyMiejscowosc" class="mb-1" style="font-weight:500">Miejscowość</label>
                                <input type="text" class="form-control bg-light" id="aCounterPartyMiejscowosc" required
                                       asp-for="CounterPartyInfo.Miejscowosc">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="aCounterPartyKodPocztowy" class="mb-1" style="font-weight:500">Kod pocztowy</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">xx-xxx</span>
                                    <input type="text" asp-for="CounterPartyInfo.KodPocztowy"
                                           class="form-control bg-light" id="aCounterPartyKodPocztowy" required>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</form>
